<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <title>{{pageTitle}}</title>
</head>
<body>
  <div class="container">
    <h1>{{pageTitle}}</h1>
    <form action="/create_equipe" method="post" class="form">
      <label for="teamName">Nom de l'équipe:</label>
      <input type="text" id="teamName" name="teamName" required>

      <button type="submit" class="btn">Enregistrer</button>
    </form>
  </div>

  <script type="text/javascript" src="../index.js"></script>  
  <script type="text/javascript" src="../database.js"></script>  
</body>
</html>
