<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  
</head>
<body>

    <h1>{{pageTitle}}</h1>
 
    <div>
      
      <img src="{{personnages.photo}}" alt="">
      <h2>{{personnages.nom}}</h2>
      <li>{{personnages.description}}</li>
      <p>Team: {{personnnages_equipe.nom}}</p>
      
    </div>



<script type="text/javascript" src="../index.js"</script>  
<script type="text/javascript" src="../database.js"</script>  

</body>
</html>
